@import '~node_modules/modern-normalize/modern-normalize.css';
.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #84A178;
  color: #FCFCFC;
  font-size: 14px;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contacts__block {
  position: relative;
}
.contacts__block:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(24px);
  content: "";
  display: block;
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
}

.contacts__item {
  padding: 40px 32px 24px 32px;
  max-width: 280px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts__connection {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts__text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}

.contact__text--category {
  display: inline-block;
  padding: 4px 22px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #F8D24E;
}

.contacts__text--location {
  margin-top: 8px;
  line-height: 1.83;
  color: #d6936d;
}

.contacts__text--time {
  margin-top: 0px;
  color: #ababab;
}

.contacts__text--connect {
  line-height: 1.6;
}

.contacts_btnList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 12px 40px;
  min-width: 196px;
  min-height: 42px;
  background-color: #F8D24E;
  color: #131313;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.29;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
.button:hover {
  background-color: #0A8817;
}
.button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.button__icon {
  fill: currentColor;
}

.button--secondary {
  box-sizing: border-box;
  padding: 10px 55px;
  border: 2px solid #F8D24E;
  background-color: transparent;
}
.button--secondary:hover, .button--secondary:focus {
  border-color: #0A8817;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .contacts__item {
    padding: 44px 24px 40px 24px;
    max-width: 224px;
  }
  .contacts__block {
    position: relative;
  }
  .contacts__block:not(:last-child)::after {
    transform: translateY(32px);
    width: 176px;
  }
  .contacts__info {
    gap: 64px;
  }
  .contacts__connection {
    gap: 4px;
  }
  .contacts__text {
    font-size: 14px;
  }
  .contact__text--category {
    margin-bottom: 32px;
    padding: 4px 14px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 6px;
  }
  .contacts__text--location {
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__text--diff {
    width: 159px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__text--connect {
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .contacts_btnList {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 60px;
  }
  .contacts__item {
    padding: 44px 40px 40px 40px;
    max-width: 368px;
  }
  .contacts__block {
    position: relative;
  }
  .contacts__block:not(:last-child)::after {
    width: 288px;
  }
  .contacts__text {
    font-size: 16px;
  }
  .contact__text--category {
    padding: 4px 14px;
  }
  .contacts__text--location {
    margin-top: 8px;
  }
  .contacts_btnList {
    gap: 16px;
  }
}/*# sourceMappingURL=index.css.map */