// Flex-center-2-axis

@mixin flexCenteringXY($flex-type: flex) {
	display: $flex-type;
	justify-content: center;
	align-items: center;
}

// Transitions

@mixin transition($property...) {
	transition-property: $property;
	transition-duration: $transition-time;
	transition-timing-function: $transition-cubic;
}

// Resolution-media-queries

@mixin xs-mobile-only {
	@media screen and (max-width: 440px) {
		@content;
	}
}

@mixin mobile-only {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin mobile-and-tablet-only {
	@media screen and (max-width: 1199px) {
		@content;
	}
}

@mixin tablet-only {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		@content;
	}
}

@mixin tablet-up {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop-up {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

// Pixel-ratio-media-queries

@mixin pixel-ratio-2x {
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		@content;
	}
}


@mixin for-size($size) {
    @if $size == phone {
        @media screen and  (max-width: 480px) {
            @content;
        }
    }

    @else if $size == tablet {
        @media screen and  (min-width: 768px) {
            @content;
        }
    }

    @else if $size == desktop {
        @media screen and  (min-width: 1200px) {
            @content;
        }
    }
}