$bcg-color: #84a178;
$primary-color: #fcfcfc;
$secondary-color: #131313;
$interactive-color: #f8d24e;
$accent-color: #0a8817;
$animations-buttons: 370ms cubic-bezier(0.4, 0.3, 0.2, 0.5);
$animations-links: 200ms cubic-bezier(0.4, 0.3, 0.2, 0.5);
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-cursor: url("../images/header/vector.png"),default;
$cursor-pointer :url("../images/header/pointer.png"),pointer;