<section class="advantages">
  <div class="container">
    <h2 class="visually__hidden">advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__item--cow">
        <p class="advantages__value">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--weight">
        <p class="advantages__value">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item advantages__item--ice-cream">
        <p class="advantages__value">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
