<!-- прибрано клас  section -->
<section class="contacts">
  <!-- додано клас  contacts__wrapper-->
  <div class="contacts__wrapper container">
    <!-- кінець змін -->

    <h2 class="section__title visually__hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item" id="contacts">
        <p class="contacts__text contact__category">Cafe</p>
        <ul class="contacts__info list">
          <li class="contacts__block">
            <p class="contacts__text">Chicago</p>
            <a
              href="https://goo.gl/maps/AJRDsp3Dw1Eqrjvd9"
              class="contacts__text contacts__address link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </li>
          <li class="contacts__block">
            <ul class="contacts__hours list">
              <li>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text contacts__text--time">
                  06:00 AM - 10:00 PM
                </p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--time">
                  08:00 AM - 16:00 PM
                </p>
              </li>
            </ul>
          </li>
          <li class="contacts__block">
            <ul class="contacts__connection list">
              <li>
                <a
                  href="tel:+610383766284"
                  class="contacts__text contacts__text--connect link"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts__text contacts__text--connect link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text contact__category">Foodtruck</p>
        <ul class="contacts__info list">
          <li class="contacts__block">
            <p class="contacts__text">Los Angeles</p>
            <a
              href="https://goo.gl/maps/bJEC3kjMRkxWJkbc8"
              class="contacts__text contacts__address link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </li>
          <li class="contacts__block">
            <ul class="contacts__hours list">
              <li>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text contacts__text--time">
                  06:00 AM - 10:00 PM
                </p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--time">
                  08:00 AM - 16:00 PM
                </p>
              </li>
            </ul>
          </li>
          <li class="contacts__block">
            <ul class="contacts__connection list">
              <li>
                <a
                  href="tel:+610383766284"
                  class="contacts__text contacts__text--connect link"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts__text contacts__text--connect link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text contact__category">Cafe</p>
        <ul class="contacts__info list">
          <li class="contacts__block">
            <p class="contacts__text">New York</p>
            <a
              href="https://goo.gl/maps/UQKiFu1wu3oyUVAD9"
              class="contacts__text contacts__address contacts__text--diff link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >726 Sterling Pl, Brooklyn, NY 11222, USA
            </a>
          </li>
          <li class="contacts__block">
            <ul class="contacts__hours list">
              <li>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text contacts__text--time">
                  06:00 AM - 10:00 PM
                </p>
              </li>
              <li>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--time">
                  08:00 AM - 16:00 PM
                </p>
              </li>
            </ul>
          </li>
          <li class="contacts__block">
            <ul class="contacts__connection list">
              <li>
                <a
                  href="tel:+610383766284"
                  class="contacts__text contacts__text--connect link"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts__text contacts__text--connect link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__btnList list">
      <li>
        <button class="button js-open-modal" type="button" data-modal="3">
          <span>Our Locations</span>
          <svg class="button__icon" width="12" height="12">
            <use href="./images/svg/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button
          class="button button--secondary js-open-modal"
          type="button"
          data-modal="4"
        >
          <span>Franchise</span>
          <svg class="button__icon" width="12" height="12">
            <use href="./images/svg/symbol-defs.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
