<!-- === FOOTER === -->
<footer class="footer">
  <!-- == Upper footer == -->

  <div class="container footer-upper-container">
    <!-- Title block -->

    <div class="footer__title-wrap">
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__title footer__title--big">with passion</p>
    </div>

    <!-- Contacts block -->

    <div class="footer__contacts-wrap">
      <!-- Social links -->

      <ul class="list social-contacts__list">
        <li class="social-contacts__item">
          <a
            class="link social-link"
            target="_blank"
            rel="noopener nofollow noreferrer"
            href="https://github.com/"
          >
            <svg class="social-link-icon" width="20" height="20">
              <use
                href="../src/images/svg/symbol-defs-social-links.svg#icon-github"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-contacts__item">
          <a
            class="link social-link"
            target="_blank"
            rel="noopener nofollow noreferrer"
            href="https://web.telegram.org/"
          >
            <svg class="social-link-icon" width="20.4" height="15.87">
              <use
                href="../src/images/svg/symbol-defs-social-links.svg#icon-telegram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-contacts__item">
          <a
            class="link social-link"
            target="_blank"
            rel="noopener nofollow noreferrer"
            href="https://www.facebook.com/"
          >
            <svg class="social-link-icon" width="9.35" height="20.4">
              <use
                href="../src/images/svg/symbol-defs-social-links.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- Phone contact -->

      <div class="footer__phone-wrap">
        <p class="footer__phone-text">Feel free to contact</p>
        <a class="link footer__phone-link" href="mailto:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>

  <!-- == Lower footer == -->

  <div class="container footer-lower-container">
    <p class="footer__rights">&#169; 2022 - IceCream.</p>
    <p class="footer__rights">all rights reserved.</p>
  </div>
</footer>
