<!-- Slider main container -->
<section class="gallery container">
  <div class="ice-swiper">
    <div class="swiper swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper slide">
        <!-- Slides -->

        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice1-280.png   280w,
              ./images/gallery/ice1-560.png   560w,
              ./images/gallery/ice1-704.png   704w,
              ./images/gallery/ice1-1013.png 1013w,
              ./images/gallery/ice1-1408.png 1408w,
              ./images/gallery/ice1-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice1-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>

        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice2-280.png   280w,
              ./images/gallery/ice2-560.png   560w,
              ./images/gallery/ice2-704.png   704w,
              ./images/gallery/ice2-1013.png 1013w,
              ./images/gallery/ice2-1408.png 1408w,
              ./images/gallery/ice2-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice2-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice3-280.png   280w,
              ./images/gallery/ice3-560.png   560w,
              ./images/gallery/ice3-704.png   704w,
              ./images/gallery/ice3-1013.png 1013w,
              ./images/gallery/ice3-1408.png 1408w,
              ./images/gallery/ice3-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice3-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice4-280.png   280w,
              ./images/gallery/ice4-560.png   560w,
              ./images/gallery/ice4-704.png   704w,
              ./images/gallery/ice4-1013.png 1013w,
              ./images/gallery/ice4-1408.png 1408w,
              ./images/gallery/ice4-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice4-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice5-280.png   280w,
              ./images/gallery/ice5-560.png   560w,
              ./images/gallery/ice5-704.png   704w,
              ./images/gallery/ice5-1013.png 1013w,
              ./images/gallery/ice5-1408.png 1408w,
              ./images/gallery/ice5-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice5-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice6-280.png   280w,
              ./images/gallery/ice6-560.png   560w,
              ./images/gallery/ice6-704.png   704w,
              ./images/gallery/ice6-1013.png 1013w,
              ./images/gallery/ice6-1408.png 1408w,
              ./images/gallery/ice6-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice6-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice7-280.png   280w,
              ./images/gallery/ice7-560.png   560w,
              ./images/gallery/ice7-704.png   704w,
              ./images/gallery/ice7-1013.png 1013w,
              ./images/gallery/ice7-1408.png 1408w,
              ./images/gallery/ice7-2026.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice7-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>
        <div class="swiper-slide slide1">
          <img
            srcset="
              ./images/gallery/ice8-280.png   280w,
              ./images/gallery/ice8-560.png   560w,
              ./images/gallery/ice8-704.png   704w,
              ./images/gallery/ice8-1013.png 1013w,
              ./images/gallery/ice8-1408.png 1408w,
              ./images/gallery/ice8-2060.png 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
            src=" ./images/gallery/ice8-1013.png"
            alt="ice-cream"
            loading="lazy"
            width="1013"
            height="422"
          />
        </div>

        
      </div>

      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!--  <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>
