<!-- Slider main container -->
<section class="gallery">
  <div class="ice-swiper">

 
<div class="swiper container ">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

      <div class="swiper-slide slide">
            <img class="swiper-image"
              src="images/gallery/ice1.png"
              alt="Gallery" 
              width:="1013"  
              height:= "422"          
              loading="lazy"
            />          
        </div>

      <div class="swiper-slide slide">
    
          <img class="swiper-image"
            src="images/gallery/ice2.png"
            alt="Gallery"           
            loading="lazy"
            width:="1013"  
              height:= "422"
          />
      </div>

      <div class="swiper-slide slide">
          <img class="swiper-image"
            src="images/gallery/ice3.png"
            alt="Gallery"
            loading="lazy"width:="1013"  
            height:= "422"

          />
          
        
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
   
    <!-- If we need scrollbar -->
  <!--  <div class="swiper-scrollbar"></div> -->
  </div>
</div>
  </section>