<Header>
<div class="container header">
    <a class="header__logo" href="index.html"></a>
    <nav class="header__nav">
        <a class="nav__link link" href="index.html">Home</a>
        <a class="nav__link link" href="#about">How it’s made?</a>
        <a class="nav__link link" href="#products">Our products</a>
        <a class="nav__link link" href="#contacts">Contact</a>
    </nav>
 <button type="submit" class="button__hamburger"><span class="hamburger"></span></button>
<button type="button" class="header__button">Buy now<span class="arrow"></span></button> 
</div>
</Header>
