<header>
  <div class="container header">
    <a class="header__logo" href="index.html"></a>
    <nav class="header__nav">
      <a class="nav__link link" href="index.html">Home</a>
      <a class="nav__link link" href="#about">How it’s made?</a>
      <a class="nav__link link" href="#products">Our products</a>
      <a class="nav__link link" href="#contacts">Contact</a>
    </nav>

    <div class="btn__wrap">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="burger__btn" width="32" height="32">
          <use href="./images/header/svg/eva_menu-fill.svg#icon-menu"></use>
        </svg>
      </button>
      <button type="button" class="header__button">
        Buy now<svg class="arrow" wight="6" height="10">
          <use href="./images/header/svg/arrow.svg#Vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
