<section class="hero">
  <div class="hero__container container">
    <div class="hero-wrap">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title-accent">passion</span>
      </h1>
      <ul class="hero-nav list">
        <li class="hero-nav-item">
          <a class="hero-nav-button link" href="#products">Products</a>
          <!-- <button class="hero-nav-button js-open-modal" data-modal="5" type="button">Products</button> -->
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-btn link" href="#about">How its made?</a>
          <!-- <button class="hero-nav-btn js-open-modal" data-modal="2" type="button">How its made?</button> -->
        </li>
      </ul> 
          
      <div class="hero-info">
        <p class="hero-info-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>        
        <svg class="hero-info-icon" width="40" height="16">
          <use href="./images/svg/symbol-defs.svg#icon-Arrow"></use>
        </svg>
      </div>
    </div>

    <ul class="hero-advant-list list">
      <li class="hero-advant-item">
        <h2 class="hero-advant-title">16</h2>
        <p class="hero-advant-text">cafes</p>
      </li>

      <li class="hero-advant-item">
        <h2 class="hero-advant-title">23</h2>
        <p class="hero-advant-text">food trucks</p>
      </li>
    </ul>

    <picture class="hero-picture-plate animate__animated animate__rotateIn animate__slow">
      <img class="hero-plate-imag"
      srcset="
        ./images/hero/plate_t@1x_152.png 152w,
        ./images/hero/plate_d@1x_225.png 225w,
        ./images/hero/plate_t@2x_304.png 304w,
        ./images/hero/plate_d@2x_450.png 450w
      "
      sizes="(min-width: 1200px) 225px,(min-width: 768px) 152px, 100vw"
      src="./images/hero/many_ice.png"
      alt="meny ice cream"/>
    </picture>

    <picture class="hero-picture-ice animate__animated animate__pulse animate__delay-2s animate__faster animate__repeat-2">
      <img class="hero-ice-imag"
        srcset="
          ./images/hero/ice_m@1x_177.png 177w,
          ./images/hero/ice_t@1x_268.png 268w,
          ./images/hero/ice_m@2x_354.png 354w,
          ./images/hero/ice_d@1x_456.png 456w,
          ./images/hero/ice_t@2x_536.png 536w,
          ./images/hero/ice_d@2x_912.png 912w
        "
        sizes="(min-width: 1200px) 456px,(min-width: 768px) 268px,(min-width: 320px) 177px, 100vw"
        src="./images/hero/desktop.png"
        alt="Big ice" />
    </picture>
  </div>
</div>
<button class="myBtn" onclick="topFunction()" id="myBtn" title="Go to top">
  <svg class="up-arrow" wight="10" height="20">
  <use href="./images/header/svg/up.svg#one"></use></svg>
</button> 
</section>
  