<!--Menu-->
<div class="menu container" id="menu">
  <button class="menu-close">
    <svg class="" width="32" height="32">
      <use href="./images/mobile/svg/symbol-defs.svg#close-white"></use>
    </svg>
  </button>
  <ul class="menu list">
    <li>
      <a class="menu__link link" href="">Home</a>
    </li>
    <li>
      <a class="menu__link-accent link" href="">How it’s made?</a>
    </li>
    <li>
      <a class="menu__link link" href="">Our products</a>
    </li>
    <li>
      <a class="menu__link link" href="">Contact</a>
    </li>
  </ul>
  <button type="button" class="menu-btn">
    Buy now<svg class="arrow" wight="6" height="10">
      <use href="./images/mobile/svg/symbol-defs.svg#arrow-right"></use>
    </svg>
  </button>
</div>
