<!-- BUY IT -->
!-- <div class="overlay js-overlay-modal" id="overlay-modal"></div>
<!-- <div class="backdrop js-open-modal" id="overlay-modal"> -->
    <div class="modal modal-buy-now" data-modal="1">          
        <strong class="modal-lable modal-buy-now-lable">Buy now</strong>  
        <button class="close-btn" type="button" data-modal-close>
        <svg class="close-btn-icon js-modal-close">
        <use href="./images/svg/icon.svg#close-line"></use>
        </svg>
        </button>
        <div class="product-categories">
            <ul class="productslist modal-productsitem list">
                <li class="productsitem modal-productsitem">
                    <label>
                        <input class="modal-form-chekbox" type="checkbox" name="product-categories" value="ice cream" checked />
                            <div class="productswrap modal-productswrap modal-productswrap--green-section">
                                <h3 class="modal-productssubtitle">ice cream</h3>
                            </div>
                   </label>
                   <div class="productspictures modal-productspictures productspicture--green-section"></div>
                </li>          
                <li class="productsitem modal-productsitem">
                    <label>
                        <input class="modal-form-chekbox" type="checkbox" name="product-categories" value="ice coffee" checked />
                        <div class="productswrap modal-productswrap productswrap--orange-section">
                            <h3 class="modal-productssubtitle">ice coffee</h3>
                        </div>        
                    </label>
                    <div class="productspictures modal-productspictures productspicture--orange-section"></div>    
                 </li>
          <li class="productsitem modal-productsitem">
                <label>
                    <input class="modal-form-chekbox" type="checkbox" name="product-categories" value="milkshakes" checked />
                        <div class="productswrap modal-productswrap modal-productswrap--terracotta-section">
                            <h3 class="modal-productssubtitle">milkshakes</h3>
                        </div>
                </label>
                <div class="productspictures modal-productspictures productspicture--terracotta-section"></div>
                </li>
              </ul>
        </div> 
        <form class="modal-form" name="modal_form">
        <div class="modal-form-group" role="group">
        <lable class="modal-form-lable" for="user_name">
            <input class="modal-form-field" type="text" name="user_name" id="user_name" placeholder="Name" required minlength="3">
        </lable>
        <lable class="modal-form-lable" for="user_phone">
            <input class="modal-form-field" type="tel" name="user_phone" id="user_phone" placeholder="Phone" required pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" title="Номер должен +380">
        </lable>
            <lable class="modal-form-lable" for="user_message">
            <textarea class="modal-form-message" name="user_message" id="user_message" rows="6" placeholder="Comment" ></textarea>
        </lable>
        </div>        
        <button class="modal-form-btn buy-now-btn" type="submit">Submit</button>
        </form>
    </div>
</div>

        
<!-- HOW IT'S MADE? -->
 
<div class="backdrop is-hidden" data-modal>
<div class="modal how-it's-made">          
    <strong class="modal-lable">How it’s made?</strong>               
    <button class="close-btn" type="button" data-modal-close>
        <svg class="close-btn-icon">
        <use href="./images/svg/icon.svg#close-line"></use>
        </svg>
    </button>
    <div class="modal-video">
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/A_kSPJfI1rA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>          
    <p class="modal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>
</div>      

<!-- OUR LOCATION -->

<div class="backdrop is-hidden" data-modal >
<div class="modal our-location">          
    <strong class="modal-lable">Our Locations</strong>               
    <button class="close-btn" type="button" data-modal-close>
        <svg class="close-btn-icon">
        <use href="./images/svg/icon.svg#close-line""></use>
        </svg>
    </button>
    <iframe class="modal-map" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d32240.21975904609!2d30.483888098717618!3d50.48284434240245!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1671738189422!5m2!1sru!2sua" width="224" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a class="modal-form-btn location-btn link" href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
                target="_blank"
                rel="noopener noreferrer nofollow">Open map</a>
</div>  
</div>

<!-- Franchise modal -->
        
<div class="backdrop is-hidden" data-modal >
<div class="modal franchise-modal">          
    <strong class="modal-lable franchise-lable">Thank you for your interest in owning an Ice Cream shop</strong>  
    <button class="close-btn" type="button" data-modal-close>
        <svg class="close-btn-icon">
        <use href="./images/svg/icon.svg#close-line"></use>
        </svg>
    </button>
    <p class="modal-text franchise-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="modal-form" name="modal_form">
        <div class="modal-form-group" role="group">
        <lable class="modal-form-lable" for="user_name">
            <input class="modal-form-field" type="text" name="user_name" id="user_name" placeholder="Name" required minlength="3">
        </lable>
        <lable class="modal-form-lable" for="user_phone">
            <input class="modal-form-field" type="tel" name="user_phone" id="user_phone" placeholder="Phone" required pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" title="Номер должен +380">
        </lable>
        <lable class="modal-form-lable" for="user_email">
            <input class="modal-form-field" type="email" name="user_email" id="user_email" placeholder="Email" required pattern="^\S+@\S+\.\S+$" title="example@mail.com">
        </lable>
            <lable class="modal-form-lable" for="user_message">
            <textarea class="modal-form-message" name="user_message" id="user_message" rows="6" placeholder="Comment" ></textarea>
        </lable>
        </div>        
        <button class="modal-form-btn" type="submit">Submit</button>
    </form>
</div> 
</div>

<!-- Modal ingredients -->

<div class="backdrop is-hidden" data-modal >
<div class="modal ingredients-modal">          
    <strong class="modal-lable">Chololate icecream</strong>  
    <button class="close-btn" type="button" data-modal-close>
        <svg class="close-btn-icon">
        <use href="./images/svg/icon.svg#close-line"></use>
        </svg>
    </button>
    <div class="image-wrapper">
        <img class="ingredients-image" src="./images/svg/Ellipse67.jpg" alt="chocolate-icecream" width="132" height="132">
    </div>
    <div class="proportion">
    <ul class="proportion-list list">
        <li class="proportion-item">
        <p class="weight">320</p>
        <p class="include">kcal</p>
        </li>
        <li class="proportion-item">
        <p class="weight">4g</p>
        <p class="include">Prote...</p>
        </li>
        <li class="proportion-item">
        <p class="weight">8,2g</p>
        <p class="include">Fats</p>
        </li>
        <li class="proportion-item">
        <p class="weight">40,4g</p>
        <p class="include">Carbs</p>
        </li>
    </ul>
    </div>
    <div class="ingredients">
    <p class="ingredients-lable">Ingredients</p>
    <div class="ingredients-wrapper">
    <ul class="ingredients-name-list list">
        <li class="ingredients-name">Milk</li>
        <li class="ingredients-name">Belgian chocolate</li>
        <li class="ingredients-name">Cream</li>
        <li class="ingredients-name">Cocoa powder</li>
        <li class="ingredients-name">Sugar</li>
        <li class="ingredients-name">Vanilla sugar</li>
    </ul>
    <ul class="ingredients-weight-list list">
        <li class="ingredients-weight">100ml</li>
        <li class="ingredients-weight">20g</li>
        <li class="ingredients-weight">150 ml</li>
        <li class="ingredients-weight">30g</li>
        <li class="ingredients-weight">40g</li>
        <li class="ingredients-weight">10g</li>
    </ul>
    </div>
    </div>
    <form class="modal-form" name="modal_form">
    <div class="modal-form-group" role="group">
    <lable class="modal-form-lable" for="user_name">
        <input class="modal-form-field" type="text" name="user_name" id="user_name" placeholder="Name" required minlength="3">
    </lable>
    <lable class="modal-form-lable" for="user_phone">
        <input class="modal-form-field" type="tel" name="user_phone" id="user_phone" placeholder="Phone" required pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" title="Номер должен +380">
    </lable>
    <lable class="modal-form-lable" for="user_message">
        <textarea class="modal-form-message" name="user_message" id="user_message" rows="6" placeholder="Comment" ></textarea>
    </lable>
    </div>        
    <button class="modal-form-btn ingredients-btn" type="submit">Submit</button>
    </form>
</div>
</div>  