<section class="products section" id="products">
  <div class="products__container container">
    <p class="products__composition">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list list">
      <li class="products__item">
        <div class="products__pictures products__picture--green-section"></div>
        <div class="products__wrap products__wrap--green-section">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__desc">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button
            class="products__btn products__btn--green-section js-open-modal"
            data-modal="5"
            type="button"
          >
            <svg class="products-btn__icon" width="40" height="16">
              <use href="./images/products/icons.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__pictures products__picture--orange-section"></div>
        <div class="products__wrap products__wrap--orange-section">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__desc">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            class="products__btn products__btn--orange-section js-open-modal"
            data-modal="5"
            type="button"
          >
            <svg class="products-btn__icon" width="40" height="16">
              <use href="./images/products/icons.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item">
        <div
          class="products__pictures products__picture--terracotta-section"
        ></div>
        <div class="products__wrap products__wrap--terracotta-section">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__desc">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            class="products__btn products__btn--terracotta-section js-open-modal"
            data-modal="5"
            type="button"
          >
            <svg class="products-btn__icon" width="40" height="16">
              <use href="./images/products/icons.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
