$breakpoints: (
    "mobile-phone": 480px,
    "tablet": 768px,
    "desktop": 1200px,
);


.container {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;

    // mobile screen
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    // tablet screen
    @media screen and (min-width: 768px) {
        width: 768px;
    }

    // desktop screen
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}