.menu__container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  background-color: #85a279;
  z-index: 999;

  @media screen and (min-width: 768px) {
    background-color: #97af8d;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-close {
  min-height: 32px;
  min-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: transparent;
  color: #85a279;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media screen and (min-width: 768px) {
    color: $bcg-color;
  }
}

.menu-close-item {
  margin-top: 16px;
  margin-right: 20px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  //padding: 0;
  //margin: 0;
  //margin-bottom: auto;
}

/*.menu__list:nth-child(2) {
  color: $secondary-color;
}


.link-item:nth-child(2) {
  color: rgb(23 12 8);
}*/

.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: $primary-color;

  display: block;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.accent {
  color: $secondary-color;
}

/*.menu__link:nth-child(2) {
  color: $secondary-color;
}*/

.menu__link-accent {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: $secondary-color;

  display: block;
  gap: 32px;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
  }
}

.menu-btn {
  height: 42px;
  width: 152px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);

  //padding: 12px;
  //padding-left: 36px;
  //padding-right: 51px;

  color: $secondary-color;
  background-color: $interactive-color;
  border-radius: 10px;
  border-color: transparent;
  margin: auto;
  margin-bottom: 64px;
  //margin-left: 84px;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
  }
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
  }
  @media screen and (min-width: 320px) {
    //margin-top: 110px;
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  fill: currentColor;
  //left: 69.08%;
  //right: 23.03%;
  //top: 35.71%;
  //bottom: 35.71%;
  right: 25px;
  top: 50%;

  transform: translateY(-50%);
}
