#parent_popup {
    background-color: rgba(85, 86, 38, 0.7);
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade .6s;
    overflow: auto;
  }

  #popup { 
    background: rgb(280,215,192);
    
    @include for-size(phone) {
        width:  280px;
        height: auto;
       
        }
        @media screen and (min-width: 480px) and (max-width: 769px) {
         width: 440px;
        }
        @include for-size (tablet) { 
          width:  704px;
        height: 405x; 
           
        }

       @include for-size (desktop)
       {
           width:  1013px;
        height: 404px;
       animation: fade 3.6s;
       }


    margin: 5% auto;
    position: relative;
    /*--CSS3 Тени для Блока--*/
    border: 1px solid rgb(29, 33, 18);
    box-shadow: 0px 0px 20px rgb(58, 56, 71);
    /*--CSS3 Скругленные углы--*/
    color: #000;
     border-radius: 15px;
  }
  .close {
    position: absolute;
    border: 3px solid rgb(143, 157, 25);
    background-color: rgba(79, 35, 35, 0.4);
    cursor: pointer;
    @include for-size(phone) {
        right: -8px;
        top: -8px;
        width: 8px;
        border-radius: 12px;
        height: 10px;
        line-height: 10px;
        }
        @media screen and (min-width: 480px) and (max-width: 769px) {
            right: -18px;
            top: -18px;
            width: 18px;
            border-radius: 12px;
            height: 18px;
            line-height: 18px; 
           }
        @include for-size (tablet) { 
            right: -18px;
            top: -18px;
            width: 18px;
            border-radius: 12px;
            height: 18px;
            line-height: 18px; 
          
        }

       @include for-size (desktop)
       {
        right: -24px;
        top: -24px;
        width: 24px;
        border-radius: 15px;
        height: 24px;
        line-height: 24px;
       }
       animation: fade .6s;    
}
.close:hover {
    background-color: rgba(280, 2154,192, 0.8);
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
