.gallery{

}

.ice-swiper {
    position: relative;
}
.swiper-container {
    position: absolute;
    z-index: 777;
    left: 0;
     right: 0;
     margin: auto;
     top: -32px;
   
    @include for-size (tablet) {
    top: -114px;
    }
    @include for-size (desktop) {
   top: -98px;
 
    }
} 


.slide{
    
    @include for-size(phone) {
    width:  280px;
    height: auto;
    border-radius: 8px;  
    }
    
    
    @include for-size (tablet) { 
    display: flex;
    width:  704px;
    height: 327px;
    border-radius: 18px;
   }

   
   @include for-size (desktop)
   {
    display: flex;
    width:  1013px;
    height: 422px;
    border-radius: 24px;
    margin: 0 auto;
   }

 } 
 
