.gallery {
    display: none;
}
.ice-swiper{
    position: relative;
  }
.swiper {
    position: absolute;
    z-index: 333;
    width: 100%;
    margin: 0 auto;
 
   @include for-size (phone) {
    top: -32px;
}
@include for-size (tablet) {
    top: -114px;
}
@include for-size (desktop) {
   top: -98px;
}
} 


.slide{
    margin: 0 auto;
    @include for-size (phone) {
        display: block;
       width:  280px;
       height: auto;
       border-radius: 8px;
       
       margin-left: 20px;
        margin-right: 20px;
    }
    
    @include for-size (tablet) {
       // max-width: 100%;
       display: flex;
      width:  704px;
      height: 327px;
      border-radius: 18px;
      margin-left: auto;
       margin-right: auto;
   }

   
   @include for-size (desktop)
   {
        display: flex;
       width:  1013px;
        height: 422px;
      border-radius: 24px;
      border: 1px solid #84A178;
      margin-left: auto;
      margin-right: auto;
       
 
   }

 }  
 .swiper-image{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #84A178;
    justify-content: center;
    background-color: transparent;
 }


