.hero {
  position: relative;
  padding-top: 38px;
  padding-bottom: 237px;

  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

  background-image: url(../images/hero/dots_m@1x_320.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/dots_m@2x_640.png);
  }

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0;

    background-image: url(../images/hero/dots_t@1x_768.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/dots_t@2x_1536.png);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 37px;

    background-image: url(../images/hero/dots_d@1x_1200.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/dots_d@2x_2400.png);
    }
  }
}

.hero__container {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero-wrap {
  @media screen and (min-width: 768px) {
    margin-bottom: 17px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 103px;
  }
}

.hero-title {
  width: 247px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &-accent {
    font-size: 34px;
    line-height: calc(33 / 34);

    @media screen and (min-width: 1200px) {
      font-size: 38px;
      line-height: calc(48 / 38);
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    width: 367px;
    margin-bottom: 28px;

    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 21px;

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 111px;
  }
}

.hero-nav-button {
  border: 2px solid #f8d24e;
  border-radius: 8px;
  padding: 9px 25px 10px 25px;
  cursor: $cursor-pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  color: #131313;
  background-color: #84a178;

  &:hover {
    border: 2px solid #0a8817;
  }
  &:focus {
    color: #fcfcfc;
    border: 2px solid #0a8817;
  }

  @media screen and (min-width: 1200px) {
    padding: 12px 34px;
    border-radius: 10px;

    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero-nav-btn {
  border: none;
  cursor: $cursor-pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-decoration-line: underline;

  color: #f8d24e;
  background-color: #84a178;

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero-info {
  display: none;

  &-text {
    margin-bottom: 12px;
    width: 139px;

    font-size: 12px;
    line-height: calc(17 / 12);

    @media screen and (min-width: 1200px) {
      width: 201px;
      margin-bottom: 24px;

      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }

  &-icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 184px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 240px;
  }
}

.hero-advant {
  display: none;

  display: flex;
  justify-content: center;
  gap: 14px;

  &-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &-title {
    margin-bottom: 4px;

    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);

    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;

    color: #131313;

    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  &-text {
    width: 46px;
    text-align: right;

    font-size: 8px;
    line-height: calc(10 / 8);

    @media screen and (min-width: 1200px) {
      width: 100%;
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }
}

.hero-picture-plate {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;

    left: 32px;
    bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    left: 16px;
    bottom: 65px;
  }
}

.hero-picture-ice {
  position: absolute;
  left: 28%;
  bottom: 0;

  @media screen and (min-width: 768px) {
    left: 408px;
  }

  @media screen and (min-width: 1200px) {
    left: 652px;
  }
}

.myBtn {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: transparent;
      color: white;
      cursor: $cursor-pointer;
      padding: 5px;
      background-color: transparent;
      box-shadow: 0 2.8px 2.2px #D6936D;
      border-radius: 20px;
      animation: amin 4s infinite;
  
    @keyframes amin {

        0% {
          transform: scale(1);
        }
    
        50% {
          transform: scale(2);
        }

        100% {
          transform: scale(1);
        }
    }}

.up-arrow {
width: 17px;
height: 17px;

@media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
  }


}