// .productsitem {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     @media screen and (min-width: 768px) {
//       width: 30%;
//     }


//   &:not(:last-child) {
//     margin-bottom: 160px;

//     @media screen and (min-width: 768px) {
//       margin-bottom: 0;
//      }
//   }
// }

// .productspictures {
//     position: absolute;
//     width: 200px;
//     height: 211px;
//     border-radius: 50%;
//     background: linear-gradient(
//         0deg,
//         rgba(156, 190, 143, 0.7),
//         rgba(156, 190, 143, 0.7)
//       ),
//       #d9d9d9;
//     box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
//     transform: translate(0%, -105%);


//     @media screen and (min-width: 1200px) {
//       transform: translate(0%, -90%);
//       width: 302px;
//       height: 318px;
//     }
//   }

// .productspicture--orange-section {
//     background: linear-gradient(
//         0deg,
//         rgba(248, 210, 78, 0.7),
//         rgba(248, 210, 78, 0.7)
//       ),
//       #d9d9d9;
//     box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

//     @media screen and (min-width: 1200px) {
//       width: 302px;
//       height: 318px;
//     }
//   }

// .productspicture--terracotta-section {
//     background: linear-gradient(
//         0deg,
//         rgba(213, 117, 63, 0.7),
//         rgba(213, 117, 63, 0.7)
//       ),
//       #d9d9d9;
//     box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
//   }

// .productspicture--green-section::after {
//     display: flex;
//     display: block;
//     content: '';
//     width: 200px;
//     height: 200px;
//     border-radius: 100%;


//     background-image: url('../images/products/ice-cream1x-min.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     margin: 0;
//     position: absolute;

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/products/ice-cream2x-min.png');
//     }

//     @media screen and (min-width: 1200px) {
//       width: 302px;
//       height: 302px;
//     }
//   }

// .productspicture--orange-section::after {
//     display: flex;
//     display: block;
//     content: '';
//     width: 200px;
//     height: 200px;
//     border-radius: 100%;


//     background-image: url('../images/products/ice-coffe1x-min.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     margin: 0;
//     position: absolute;

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/products/ice-coffe2x-min.png');
//     }

//     @media screen and (min-width: 1200px) {
//       width: 302px;
//       height: 302px;
//     }
//   }

//   .productspicture--terracotta-section::after {
//     display: flex;
//     display: block;
//     content: '';
//     width: 200px;
//     height: 200px;
//     border-radius: 100%;

//     background-image: url('../images/products/milkshakes1x-min.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     margin: 0;
//     position: absolute;
//     background-color: #d6936d;

//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/products/milkshakes2x-min.png');
//     }

//     @media screen and (min-width: 1200px) {
//       width: 302px;
//       height: 302px;
//     }
//   }


// .productswrap {
//     display: flex;
//     flex-direction: column;
//     border-radius: 24px;
//     height: 420px;

//     @media screen and (min-width: 768px) {
//       height: 428px;
//     }

//     @media screen and (min-width: 1200px) {
//       height: 536px;
//     }
//   }

//   .productswrap:not(:last-child) {
//     margin-bottom: 60px;
//     }

//   .productswrap--green-section {
//     background: #aec6a5;    
//   }

//   .productswrap--orange-section {
//     background: #efd478;
//   }

//   .productswrap--terracotta-section {
//     background: #d6936d;    
//   }

// .productssubtitle {
//     font-size: 20px;
//     line-height: 24px;
//     letter-spacing: 0.04em;
//     text-transform: uppercase;
//     color: $secondary-color;
//     margin-bottom: 40px;
//     padding-top: 123px;


//     @media screen and (min-width: 768px) {
//       font-size: 22px;
//       line-height: calc(27 / 22);
//       padding-top: 120px;
//     }

//     @media screen and (min-width: 1200px) {
//       font-size: 30px;
//       line-height: calc(37 / 30);
//       padding-top: 165px;
//       margin-bottom: 66px;
//     }
//   }