.reviews {
   background: $primary-color;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../images/products/bg_mob@1x-min.png');
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    text-align: center;

    &-box {
       padding-top: 140px;
      //  display: flex;
      //  justify-content: center;
    }

    &__img {
      display: flex;
      justify-content: center;
      // margin-bottom: 32px;
    }

    &__img > img {
      // object-fit: cover;
      border-radius: 50%;
      margin-bottom: 32px;
    }

    &__text {
      // display: inline-table;
      // width: 90%;
      padding: 35px 39px;
      margin-bottom: 32px;
      // height: 54px;
      // text-align: center;
      color: #fcfcfc;
      font-size: 12px;
      line-height: calc(31/12) ;
      letter-spacing: 0.04em;
      background-color: #84A178;
      border-radius: 24px;
    }

    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: calc(37/20) ;
      text-align: center;

      color: #131313;
    }

    &__item {
      margin-bottom: 50px;
    }
}