.reviews {
 
  padding-top: 178px;
  padding-bottom: 394px;
  background-image: url('../images/products/bg_desk@1x-min.png');
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/products/bg_desk@2x-min.png');
  }

  @media screen and (min-width: 768px) {
    padding-top: 283px;
    padding-bottom: 379px;
    background-image: url('../images/products/bg_tabl@1x-min.png');
    min-height: 1017px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/bg_tabl@2x-min.png');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 464px;
    padding-bottom: 228px;
    background-image: url('../images/products/bg_desk@1x-min.png');
    min-height: 1053px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/products/bg_desk@2x-min.png');
    }
  }

  &-box {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    // margin-bottom: 32px;
  }

  &__img > img {
    // object-fit: cover;
    border-radius: 50%;
    margin-bottom: 32px;
  }

  &__text {
    display: inline-table;
    padding: 35px 39px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 12px;
    line-height: calc(31 / 12);
    background-color: $bcg-color;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
      padding: 29px 80px;
      font-weight: 500;
      font-size: 14px;
      line-height: calc(26 / 14);
      letter-spacing: 0.04em;
      border-radius: 24px;
    }

    @media screen and (min-width: 1200px) {
      padding: 43px 73px;
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
    text-align: center;

    color: $secondary-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__item {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  .slick-dots {
    bottom: -17px;
  }

  .slick-dots li button:before {
    font-size: 12px;
    opacity: 1;
    color: #d9d9d9;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $bcg-color;
  }
}
